{% set symfonyPriorTo2dot3 = constant('\\Symfony\\Component\\HttpKernel\\Kernel::VERSION_ID') < 20300 %}
{% include 'CraueConfigBundle:Settings:' ~ (symfonyPriorTo2dot3 ? 'modify_form_start_legacy.html.twig' : 'modify_form_start.html.twig') with {'form': form} only %}
	{{ form_errors(form) }}

	{% for section in sections | craue_sortSections %}
		{% if section is not empty %}
			<fieldset>
				<legend>{{ section | trans({}, 'CraueConfigBundle') }}</legend>
		{% endif %}

		{% for setting in form.settings if setting.section.vars.value == section %}
			{{ form_row(setting.name) }}
			{{ form_row(setting.section) }}
			{{ form_row(setting.value, {
					'label': setting.name.vars.value | trans({}, 'CraueConfigBundle'),
				}) }}
		{% endfor %}

		{% if section is not empty %}
			</fieldset>
		{% endif %}
	{% endfor %}

	{{ form_rest(form) }}

	<button type="submit">{{ 'modify_settings' | trans({}, 'CraueConfigBundle') }}</button>
{% include 'CraueConfigBundle:Settings:' ~ (symfonyPriorTo2dot3 ? 'modify_form_end_legacy.html.twig' : 'modify_form_end.html.twig') with {'form': form} only %}
